body {
    margin: 0;
    background-image: url(BAMBOO_WHT.jpg);
    background-size: auto;
    font-family: 'Roboto Condensed', sans-serif;
}


.wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    overflow: hidden;
}


.live-search-box {
    width: 90%;
    padding: 15px 0 15px 15px;
    margin: 0 auto 50px;
    font-size: 16px;
    background-color: rgba(245, 245, 245, 0.8);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid lightslategray 5px;
}

::placeholder,
input {
    color: lightslategray;
}

.gallery {
    width: 100%;
    list-style-type: none;
    float: left;
    padding: 0;
    overflow: visible;
}

li {
    display: block;
}

.card {
    float: left;
    width: 45%;
    margin: 5% 2.5%;
}

.card img {
    width: 100%;
}


@media only screen and (min-width: 768px) {
    
.wrapper {
    text-align: center;
}
 
.live-search-box {
    width: 50%;
}    

.card {
    float: left;
    width: 20%;
    margin: 2.5% 2.5%;
}
    
.card img {
    transition: all 0.2s ease;    
}
    
.card img:hover {
    transform: scale(1.075);
}
    
}
